$base-font: 16px;
$font-family: 'Open Sans';
$font-family-secondary: 'Roboto Slab';
$max-width: 1087px;
$main-color: #000;
$secondary-color: rgba(255, 255, 255, 1);
$bg-color: #F0F0F0;
$bg-btn-color: rgba(255, 190, 73, 1);
$transition: all 0.3s;
$heading-font: 42px;
$pc-size-padding:80px 0px; 
$tablet-size-padding:50px 0px;
$mob-size-padding:40px 0px;
